* {
    
}

body {
    min-height: 95vh;
    min-width: 95vh;
}

.api {
    display: flex;
    flex-direction: column;
    max-height: 10%;
    max-width: 20%;
}

.canvas {
    min-height: 80vh;
    min-width: 80vh;
}

.triangle {
    border: 200px solid transparent; 
    border-bottom: 200px solid rgba(0, 0, 255, 0.5);
    position: fixed;
    display: inline-block;
    max-width: 0; max-height: 0;
}

.rectangle {
    border: 20px solid rgba(255, 0, 0, 0.5);; 
    position: fixed;
    max-width: 0; max-height: 0;
    display: inline-block;
}

.circle {
    height: 100px; width: 100px;
    background-color: rgba(0, 255, 0, 0.5);;
    border-radius: 50%;
    position: fixed;
    display: inline-block;
}

#canvas {
    background-color: #eee;
    border: 1px solid gray;
    width: 1600px;
    height: 700px;
}
.rectangle:hover {
    border-color: rgba(255,255,0,0.5);
}

.circle:hover {
    background-color: rgba(255,255,0,0.5);
}

.triangle:hover {
    border-bottom-color: rgba(255,255,0,0.5);
}